*, *::before, *::after {
    box-sizing: border-box;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    background-color: var(--bg-color);
    color: var(--white);
}

.container {
    width: 90%;
    margin-inline: auto;
}

.header {
    padding: 2.5em 0;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-weight: 800;
    font-size: 1.5rem;
    line-height: 2.0625rem;
    margin: 0;
}

p {
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    opacity: 0.6;
}

.hero__bg--left, .hero__bg--center, .hero__bg--right {
    display: none;
}

.hero__bg--mobile {
    max-width: 100%;
    transform: scale(1.2) translatex(1.5rem);
}

.hero {
    text-align: center;
    margin-top: 1.625rem;
    overflow: hidden;
}

.hero__header {
    margin-top: 3rem;
}

.hero__text {
    margin-top: 1.5rem;
}

.hero__scroll {
    margin-top: 2rem;
}


.feature__item + .feature__item {
    margin-top: 3.5rem
}

.features {
    margin-top: 9rem;
    text-align: center;
}

.feature__img {
    background: var(--navy-blue);
    border-radius: 2.8125rem;
    width: 7.5rem;
}

.feature__img--passion {
    padding: 1.375rem 1.5rem 1.375rem 1.875rem;
}

.feature__img--financial {
    padding: 1.75rem 2rem;
}

.feature__img--lifestyle {
    padding: 1.6875rem 1.875rem 1.625rem 1.875rem;
}

.feature__img--work {
    padding: 2.125rem 1.3125rem 2.0625rem 1.3125rem;
}

.feature__title {
    margin-top: 2rem;
    margin-bottom: 0.6875rem;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.feature__text {
    margin: 0;
}

.pricing {
    margin-top: 9rem;
}

.pricing__info {
    text-align: center;
}

.pricing__text {
    margin: 1.6875rem 0 0 0;
}

.pricing__cards {
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 4.0625rem;
}

.pricing__card {
    position: relative;
    padding: 0 1.8125rem 2rem 1.75rem;
    border-radius: 0.5rem;
}

.pricing__card__price, .pricing__feature__text{
    opacity: 1;
}

.pricing__card__icon {
    position: absolute;
    top: -2rem;
}

.pricing__card__header {
    margin-top: 3.0625rem;
    margin-bottom: 1.1875rem;
    font-weight: 800;
    font-size: 1.125rem;
    line-height: 1.5625rem;
}

.pricing__card__price {
    margin-top: 1.625rem;
    font-weight: 800;
    font-size: 2.5rem;
    line-height: 3.4375rem;
    display: flex;
    align-items: center;
}

.pricing__card__price--small {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: 500;
    margin-left: 0.5rem;
    opacity: 0.6;
}

.pricing__list {
    margin-top: 1.1875rem;
}

.pricing__card__header--right {
    margin-top: 3.8125rem;
}

.pricing__card--left {
    background: var(--navy-blue);
}

.pricing__card--right {
    background: var(--aqua);
    color: var(--bg-color);
}

.pricing__feature {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pricing__feature img {
    width: 0.75rem;
}

.pricing__feature + .pricing__feature {
    margin-top: 0.75rem;
}


.footer {
    margin-top: 9rem;
    text-align: center;
    background: url("assets/bg-footer-squiggle.svg");
    background-size: cover;
}

.footer__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.9375rem;
    margin-bottom: 10.25rem;
}

.input {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 1.5rem;
    font-weight: 800;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-family: 'Manrope', sans-serif;
}

.footer__form__input {
    padding-left: 1.125em;
    background: var(--navy-blue);
    color: var(--white);
}

.footer__form__input::placeholder {
    opacity: 0.4;
}

.footer__form__submit {
    background: var(--aqua);
    color: var(--navy-blue);
}

.footer__form__submit:hover {
    opacity: 0.9;
}

:root {
    --white: #FFFFFF;
    --bg-color: #080C20;
    --gray: #777F98;
    --navy-blue: #093F68;
    --aqua: #3EE9E5;
    --error-color: #FF2965;
}