* {
    margin: 0;
    padding: 0;
}

.container {
    margin-inline: 10.3125rem;
}

body {
    overflow-x: hidden;
}

section {
    font-family: 'Overpass', serif;
}

h3, h4 {
    color: var(--very-dark-blue);
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.6875rem;
}

h4 {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

/* desktop navbar */
nav {
    font-family: ubuntu, serif;
    font-weight: 700;
    line-height: 1.125rem;
    display: flex;
    padding-top: 3.9375rem;
    position: relative;
}

nav a {
    color: var(--white);
}

nav ul li {
    list-style: none;
}

.nav-links {
    flex: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
}

.mobile-nav-links {
    display: none;
}

.navigation-menus {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: 2rem;
}

.register {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.sign-up-link a {
    display: block;
    box-sizing: border-box;
    color: var(--light-red);
    padding: 0.9375rem 2.5rem;
    border-radius: 1.75rem;
    background: var(--white);
}

.drop-down-menu {
    display: none;
}

.nav-item-overlay {
    opacity: 0.75;
}

.mobile-nav-control {
    display: none;
    margin-left: auto;
}

.close-nav {
    display: none;
}

/* from here on, everything is mobile first*/
/* hero section */
.hero {
    height: 37.5rem;
    background: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(175deg, var(--very-light-red-bg) 0%, var(--light-red-bg));
    background-size: 200%, 190%;
    background-position: left 19% center;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 100px;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

h1 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.4375rem;
}

.hero-content p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.hero-links {
    display: flex;
    margin-top: 3rem;
}

.hero-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 137px;
    height: 3rem;
    border-radius: 1.75rem;

    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125rem;
}

.hero-links a:first-child {
    background-color: var(--white);
    color: var(--light-red);
    margin-right: 1rem;
}

.hero-links a {
    border: 0.0625rem solid var(--white);
}

/* designed for the future section*/
.design-section {
    margin-top: 6.25rem;
    text-align: center;
}

.design-images img:last-child {
    display: none;
}

.design-images img {
    width: 20.375rem;
    margin-top: 2.375rem;
}

.design-content {
    margin-top: 2.875rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.design-content p {
    margin-top: 1rem;
}

/* infrastructure section */
.infrastructure-section {
    position: relative;
    margin-top: 17.0625rem;
}

.infrastructure-container {
    background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
    border-radius: 0 6.25rem;
    height: 39.0625rem;
    position: relative;
    overflow: hidden;
}

.infrastructure-phones {
    position: absolute;
    top: -29%;
    z-index: 1;
    width: 100%;
}

.infrastructure-phones img {
    display: block;
    width: 100%;
    max-width: 25rem;
    margin-inline: auto;
}

.infrastructure-bg-circle {
    position: absolute;
    top: -38%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.infrastructure-bg-circle img {
    width: 37.75rem;
}

.infrastructure-content {
    position: relative;
    z-index: 3;
    margin-top: 13.8125rem;
    text-align: center;
}

.infrastructure-content p, .infrastructure-content h3 {
    color: var(--white);
}

.infrastructure-content h3 {
    font-size: 2.5rem;
    line-height: 3.8125rem;
    letter-spacing: -0.075rem;
    font-weight: 600;
}

.infrastructure-content p {
    margin-top: 0.625rem;
}

.features-section {
    margin-top: 4.9375rem;
    text-align: center;
}

/* features section */
.features-images img:first-child {
    display: none;
}

.features-images img {
    width: 20.5rem;
}

.features-content {
    margin-top: 2.875rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.features-content p {
    margin-top: 1rem;
}

/* footer */
footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 2.5rem;
    align-items: center;
    text-align: center;
    background: #24242C;
    border-radius: 0 6.25rem 0 0;
    margin-top: 6.25rem;
}

footer h5 {
    font-family: 'Ubuntu', serif;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 2.0625rem;
    color: var(--white);
}

footer ul li a {
    font-family: 'Ubuntu', serif;
    color: var(--white);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 2.0625rem;
    opacity: 0.75;
}

footer ul {
    margin-top: 1.3125rem;
}

footer li {
    list-style: none;
}

@media only screen and (max-width: 75rem) {
    .container {
        margin-inline: 3rem;
    }
}

@media only screen and (max-width: 56.25rem) {
    .container {
        margin-inline: 1.5rem;
        align-items: center;
    }

    .nav-links {
        display: none;
    }

    .mobile-nav-links {
        display: flex;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        padding: 1.5rem;
        box-sizing: border-box;
        flex-direction: column;
        background-color: var(--white);
        color: var(--very-dark-black-blueL);
        border-radius: 0.3125rem;
        top: 7.8125rem;
    }

    .mobile-nav-links > ul {
        flex-direction: column;
    }

    .register {
        margin-top: 1.5rem;
        gap: 1.5rem;
    }

    .nav-item {
        width: 100%;
        position: relative;
        text-align: center;
        margin: 0;
        padding-top: 1.5rem;
    }

    .nav-item:last-child {
        margin-bottom: 1.5rem;
    }

    .drop-down-menu {
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        padding-top: 1.0625rem;
        padding-bottom: 1.5625rem;
        border-radius: 0.3125rem;
        background-color: #25252D14;
    }

    .drop-down-menu li {
        padding-top: 1.0625rem;
    }

    .nav-item:hover .drop-down-menu {
        display: flex;
    }

    .nav-item > a, .register li:first-child > a {
        color: var(--very-dark-black-blueL);
    }

    .nav-item:hover > a {
        color: var(--very-dark-blue);
    }

    .drop-down-menu a {
        color: var(--very-dark-blue);
    }

    .sign-up-link > a {
        background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
        color: var(--white);
    }

    .mobile-nav-control {
        display: block;
    }
}

@media only screen and (min-width: 56.25rem) {
    h1 {
        font-size: 4rem;
        line-height: 6.125rem;
        letter-spacing: -0.12rem;
    }

    .hero-content p {
        font-size: 1.25rem;
        line-height: 1.9375rem;
    }

    /* design section */
    .design-section {
        margin-top: 9.375rem;
    }

    .design-images img:first-child {
        display: none;
    }

    .design-images img:last-child {
        display: block;
        max-width: 27.5rem;
        transform: scale(2.6) translateX(7vw);
        width: 50%;
        margin: 0;
    }

    .design-images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
    }

    .design-section > div {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 5.8125rem;
    }

    .design-section h3 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 3.8125rem;
        letter-spacing: -0.075rem;
    }

    .design-content {
        text-align: left;
        flex: 1;
    }

    .design-content h4 {
        line-height: 1.75rem;
    }

    .design-content > div {
        max-width: 33.75rem;
    }
}

.line-separator {
    height: 0.0625rem;
    background-color: var(--grayish-blue);
}

.fadein {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 100ms;
}

.fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 100ms, opacity 100ms;
}

.content-paragraph {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.03125rem;
    color: var(--very-dark-grayish-blue);
}

:root {
    --light-red: hsl(356, 100%, 66%);
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blueL: hsl(240, 10%, 16%);
    --very-light-red-bg: hsl(13, 100%, 72%);
    --light-red-bg: hsl(353, 100%, 62%);
}